<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="page-container">
    <div class="header">
        <h2>❌ Ocurrió un error</h2>
        <p>No se pudo cargar la página. Inténtalo nuevamente.</p>
    </div>

    <!-- Botón volver -->
    <div class="action-button">
        <button class="btn-back" onclick="window.location.href='/'">Volver al Menú</button>
    </div>
</div>

</body>
</html>